extends layout

block content 
  a.btn.btn-outline-secondary(href='/categories') ← Back to all categories
  div.row.mt-5
    div.col-lg-10
      h1= data.title
      p.mt-3= data.description

  ul.row
    each good in goods 
      li.col-lg-3.col-md-6.d-block.mt-4.text-center(title=`${good.title}`)
        a(href=`/categories/${data.url}/${good.url}`).p-3.flex-center.flex-column.gap-3.border.itemwrap
          div.category-img
            img(src=`/images/${good.image}`, alt=`${good.url}`).img-fluid.transition
          span
            b #{good.price} £
          p.good-text= good.title


